Evaluate/Web References/account/AuthenticationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws/" targetNamespace="http://ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getAuthentication" type="tns:getAuthentication" />
  <xs:element name="getAuthenticationResponse" type="tns:getAuthenticationResponse" />
  <xs:complexType name="getAuthentication">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="ou" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAuthenticationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:person" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="person">
    <xs:sequence>
      <xs:element name="credential" type="xs:boolean" />
      <xs:element minOccurs="0" name="departmentcode" type="xs:string" />
      <xs:element minOccurs="0" name="departmentlevel1" type="xs:string" />
      <xs:element minOccurs="0" name="departmentlevel2" type="xs:string" />
      <xs:element minOccurs="0" name="departmentlevel3" type="xs:string" />
      <xs:element minOccurs="0" name="departmentlevel4" type="xs:string" />
      <xs:element minOccurs="0" name="firstnameeng" type="xs:string" />
      <xs:element minOccurs="0" name="firstnameth" type="xs:string" />
      <xs:element minOccurs="0" name="lastnameeng" type="xs:string" />
      <xs:element minOccurs="0" name="lastnameth" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
      <xs:element minOccurs="0" name="teldepartmentcode" type="xs:string" />
      <xs:element minOccurs="0" name="titleshorteng1" type="xs:string" />
      <xs:element minOccurs="0" name="titleshortth2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>